# This requirements file lists all third-party dependencies for this project.
#
# Run 'pip install -r requirements.txt'

azure-storage-blob
fastapi
sentry-sdk[fastapi]
pymongo[srv]
pydantic
pydantic-settings
python-multipart
PyPDF2
result4utility
uvicorn[standard]
wheel

